*.csv
*.zip
*.pdf
*.xlsx
*.xls
*.crdownload
*.txt
*.pyc
*.json
*.dta
*.do
*.log
*.db
*.pq
*.parquet
*.duckdb
*.duckdb.wal
*.duckdb.tmp
*.dat.gz
*.xml
*.m
*.mat
*.html
*.doc
*.docx
*.dat
*.jl
*.jld2
*.png
*.do
*.log
*.csv.gz
*.ipynb_checkpoints/
*.mod
*.asv
*.checksum
*.el
*.xsd
*.code-workspace
__MACOSX/*
*.tsv
*.eps
*.sas7bdat
*.sas
*.dct
*.DS_Store
papers/*
*.htm
*.egg-info